body {
    font-family: "Open Sans", sans-serif;
  }
  
  .list {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }


.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}
